<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile - Smarticus Quiz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
</head>
<body style="background-image:url('{% static 'background4.jpg' %}');" class="fade-in">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="main-card slide-up">
                    <h1>Profile</h1>
                    {% for i in data %}
                    <div class="text-center">
                        <img src="{{i.photo.url}}" alt="Profile" class="logo-image" style="border-radius: 50%;">
                        <h2 style="margin-top: 20px;"><b>{{i.username}}</b></h2>
                        <div class="form-container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Phone Number</h3>
                                    <p>{{i.phonenumber}}</p>
                                </div>
                                <div class="col-md-6">
                                    <h3>Email</h3>
                                    <p>{{i.email}}</p>
                                </div>
                                <div class="col-12">
                                    <h3>Qualification</h3>
                                    <p>{{i.qualification}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    <div class="text-center mt-4">
                        <form action="bthfromviewprofile" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Back</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>